<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body>
    <div style="display:flex; justify-content: space-evenly; margin: 0 auto; max-width: 400px; margin-top: 50px; flex-wrap: wrap;" class="container">
        {% for i in range(num)%}
            <div style=" height: 75px; width: 75px; background-color: {{color}}; margin-bottom: 10px;" class="div"></div>
        {%endfor%}
    </div>
</body>
</html>